header {
  background-color: #064e3b;
  color: white;
  padding: 24px;
  text-align: center;
}

nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
